In [330]:
import numpy as np
import pandas as pd
import seaborn as sns

In [331]:
df = pd.read_csv("dog_data_09032022.csv")
df.tail(3)

,Unnamed: 0,dog,height,weight,life,Affectionate With Family,Good With Young Children,Good With Other Dogs,Shedding Level,Coat Grooming Frequency,...,Barking Level,Mental Stimulation Needs,popularity_rank,color,marking,health,grooming,excercise,training,nutrition
280,280,xoloitzcuintli,~10-14 inches (toy)~14-18 inches (miniature)~1...,~10-15 pounds (toy)~15-30 pounds (miniature)~3...,13-18 years,5,3,3,1,1,...,3,4,119 of 1,Black-Black & White-Black White & Tan-Brindle-...,Spotted-White Markings-Tan Markings-Black Mark...,Owning a dog is not just a privilege; it’s a r...,"Xolos are generally healthy dogs, and responsi...","Coated Xolos have an easy-care short coat, req...","Xolos like long walks and upbeat play, but the...",Xolos need a consistent training regimen and c...
281,281,yakutian-laika,~21-23 inches,~40-55 pounds,10-12 years,5,5,4,4,2,...,4,5,NaN,Black & White-Brown & White-Gray & White-White...,Black Markings-Tri-Colored-Buff Markings,Owning a dog is not just a privilege; it’s a r...,"The Yakutian Laika is a hardy breed, and to ke...",The Yakutian Laika experiences seasonal sheddi...,The Yakutian Laika is a sled dog with a well-d...,Training the Yakutian Laika is a rather pleasa...
282,282,yorkshire-terrier,~7-8 inches,~7 pounds,11-15 years,5,5,3,1,5,...,4,4,13 of 1,Black & Tan-Blue & Gold-Blue & Tan-Black & Gold,NaN,Owning a dog is not just a privilege; it’s a r...,"Yorkshire Terriers are generally healthy dogs,...",The Yorkshire Terrier's coat is very similar t...,Even small dogs require exercise to stay healt...,"Yorkies love their owners, and are very intell..."

## Data Cleaning
- Drop unneccsary columns
- Clean height
    - drop all Nan Rows
    - Choose one unit, male and standard

In [332]:
# Let's tackle one column after another
# drop first unnamed column
df = df.drop(df.columns[0], axis=1)
df.tail(2)
print(df.shape)

(283, 28)

In [333]:
# clean height
concat_height = ""
for h in df.height:
    concat_height = concat_height + str(h)
result = ''.join([i for i in concat_height if not i.isdigit()])

# they either have
# 1) one unit
# 2) male & female
# 3) Toy & Miniature & Standard

In [334]:
concat_weight = ""
for h in df.life:
    concat_weight = concat_weight + str(h)

result = ''.join([i for i in concat_weight if not i.isdigit()])

# they either have
# 1) one unit
# 2) male & female
# 3) Toy & Miniature & Standard

In [335]:
df['temp'] = df.height.apply(lambda x: len(str(x).split('~')))

In [336]:
df.isna().sum()

dog                            0
height                        10
weight                        20
life                           1
Affectionate With Family       0
Good With Young Children       0
Good With Other Dogs           0
Shedding Level                 0
Coat Grooming Frequency        0
Drooling Level                 0
Coat Type                      8
Coat Length                    5
Openness To Strangers          0
Playfulness Level              0
Watchdog/Protective Nature     0
Adaptability Level             0
Trainability Level             0
Energy Level                   0
Barking Level                  0
Mental Stimulation Needs       0
popularity_rank               84
color                          4
marking                       95
health                         0
grooming                       0
excercise                      0
training                       0
nutrition                     20
temp                           0
dtype: int64

In [337]:
# remove all Nan rows
print(df.shape)
df = df[df['height'].notna()]
print(df.shape)

(283, 29)
(273, 29)

In [338]:
# we want to get regular, male, standard
def height_separate(height_str):
    height_str = height_str.lower()
    if 'male' in height_str:
        height_str = height_str.split('(male')[0]
    elif 'standard' in height_str:
        height_str_list = height_str.split('~')
        for height_str_iter in height_str_list:
            if '(standard)' in height_str_iter:
                height_str = height_str_iter
        height_str = height_str.split('(standard)')[0]
        
    # remove inches
    height_str = height_str.replace('inches',"")
    height_str = height_str.replace('~',"")
        
    return height_str

def height_str_to_val(height_str):
    height_str = height_str.split('-')
    height_val_list = []
    for height_digit in height_str:
        try: 
            height_val = float(height_digit)
            height_val_list.append(height_val)
        except:
            print('not possible')
            return height_str
    return sum(height_val_list) / len(height_val_list)

In [339]:
sum([1,2,3])

6

In [340]:
df['height'] = df.height.apply(lambda x : height_separate(x))

In [342]:
df.height.apply(lambda x : height_str_to_val(x))

not possible
not possible
not possible
not possible
not possible
not possible
not possible
not possible
not possible
not possible
not possible
not possible
not possible
not possible
not possible
not possible
not possible
not possible
not possible
not possible
not possible
not possible

0      10.25
1       26.0
2       23.0
3       27.0
4      16.25
       ...
278     24.0
279     22.0
280     20.5
281     22.0
282      7.5
Name: height, Length: 273, dtype: object